<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="remi.scoreboard">

    <application
        android:name=".DebugScoreBoardApplication"
        tools:replace="android:name" />

</manifest>